$global-color: #f1f3f6;
$color-table-header: #9b9292;
$color-table-text: #d8d8d8;
$color-blue: #688bff;
$color-red: rgb(255, 0, 0);
$color-btn-active: rgb(124, 2, 2);
$color-while: #fefefe;
$text-color: #404140;